* {
    font-family: "Rubik" !important;
}




.panelDeControl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .btnCerrarSesion {
        position: absolute;
        margin-right: 2rem;
        margin-top: 1rem;
        right: 0;
        background-color: rgb(105, 85, 85);

        &:hover {
            background-color: rgb(187, 83, 83);
        }
    }
}

.boxAgregarProducto {
    background-color: white;
border-radius: 50px;
width: 50%;
margin: 0 auto;
padding-bottom:2rem ;

    h2 {
        text-align: center;
        padding-top: 2rem;
    }
    label{
        color:black
    }
    input {
        width: 40%;
    }

    .btnAgregarImagen {
        position: relative;
        display: inline-block;
    }

    .btnAgregarImagen::before {
        background-color: #5678EF;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        content: 'Seleccionar';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

    }

    .btnAgregarImagen input[type="file"] {
        opacity: 0;
        width: 200px;
        height: 32px;
        display: inline-block;
        cursor: pointer;
    }

    .btnAgregarProducto {
        display: block;
        margin: 2rem auto;
        

    }
}

.Items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .boxEditarItem {
        width: 200px;
        background-color: white;
        padding: 15px;
        border-radius: 5px;
        margin: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;

        img {
            max-width: 150px;
            width: 150px;
            height: 150px;
            text-align: center;
        }

        .nombreItem {
            margin: 0.5rem;


            font-weight: bolder;

        }

        .btns {
            margin: 1rem;

            .btnEditarItem,
            .btnEliminarItem {
                display: block;
                margin: 0.7rem auto;
                top: 0;
            }

            .btnEliminarItem {
                background-color: rgb(163, 14, 14);
            }
        }


    }
}