.item {
    width: 300px;
    height: auto;
    border: 1px solid gray;
    margin: 3rem;
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 rgba(83, 83, 83, 0.507);
    background-color: white;


}
.boxItem {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    background-color: rgb(33, 36, 66);
}
.imgItem {
    width: 200px;

}