h1{
    text-align: center;
    color:white;
}
form {
    text-align: center;
    color: white;
    
}
label, input {
    margin: 1rem;
    display: block
}
input {
    text-align: center;
    width: 40%;
    height: 30px;
    margin: auto auto;
}
.btnContacto{
    background-color: white !important;
    text-align: center;
    margin-top: 1rem !important;
    align-items: center;
    color: black !important
}
.btnContacto:hover{
    background-color: black !important;
    color:white !important;
}   