
.btnComprar:hover{
    background-color: black!important;
    color:white !important;
    
}
.boxDetail{
    background-color: white ;
    margin-top: 2rem;
    border-radius: 15px;
}
.containerItemDetail{
    @media screen and (max-width:442px) {
        margin-bottom: 10rem;
    }
    .detailItem{
        background-color: white;
        margin-top: 2rem;
        padding: 2rem;
        border-radius: 20px;
    
        .textoDetail {
            margin: auto;
            max-width: 350px;
            p{
                margin-top: 0.5rem;
                text-align: center;
            }
        }
        .imgDetail{
            text-align: center;
            
            img{
                max-width: 250px;
                max-height: 250px;
            }
            @media screen and (max-width:685px) {
                margin: 0 auto !important
            }
        }
        .btnContadores {
            margin: auto;
            padding: 2rem;
            p{
                padding: 1rem;
            }
            color: black !important;
        }
        .btnAgregarCarro{
            border: 1px solid black !important;
            width: 50% !important;
            color: black !important;
            background-color: white !important;
            
            &:hover{
                background-color: black !important;
                color:white !important
            }
        
        }
        
    }
}
