.formPayment {
    width: 40%;
    margin: auto;
    margin-top: 2rem;
    background-color:white;
    padding: 5rem;
    border-radius: 15px;
    h3{
        color:black
    }
    input{
        border: 1px solid black;
    }
    p{
        margin-bottom: 2rem;
        
        color:black ; 

    }
    button{
        margin-top: 2rem;
    }
}