.logoNav {
    width: 220px;
}
nav {
    display: flex;
    flex:1;
    flex-flow: row wrap;
    justify-content: space-between;
    border-radius: 5px;
    border: 2px solid darkgray;
    background-color: white;
    

}

.btn {
    margin: 2rem 1rem !important;
    border-color: rgb(16, 16, 43) !important;
    color: black !important;
}
.btn:hover{
    background-color: rgb(107, 152, 167) !important;
    color: white !important;
}
.iconoIG{
    color: blueviolet;
    height: 30px !important;
    width: 30px;
    margin: 2rem 1rem;
}
.iconoCart {
    color: black;
    height: 35px !important;
    width: 35px;
    
    
}
.iconosNav{
    display: flex;
    width: 200px;
}