body{
    position:relative;
    padding-bottom: 15rem;
    min-height: 100vh;
}
footer {
    background-color: white;
    margin-top: 2rem;
    position:absolute;
    bottom: 0;
    width: 100%;
    
    .boxFooter {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 2rem;
        .logoFooter{
            text-align: center;
            img {
                width: 220px;
                
            }
            a{
                text-align: center;
                font-size: 1.1rem;
                &:hover{
                    color:#184e4e
                }
            }
        }
        .navFooter{
            ul {
                list-style-type: none;
                li{
                    margin: 0.5rem;
                    font-size: 1.1rem;
                    &:hover{
                        color:#184e4e
                    }
                }
            }
        }
        .iconos{
            margin-top: 2rem;
            a{
                margin: 1rem;
            }
        }
    }



    .copyRight {
        text-align: center;
        font-size: 0.8rem;
    }


}